/*ORANGE*/

.banner {
    font-family: Arial;
    padding: 140px;
    text-align: center;
    color: white;
    font-size: 30px;
}

.banner h1 {
    font-size: 74px;
}

.banner p {
    font-size: 24px;
}

#manga {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/banner/banner manga 2.jpg");
}

#dvd {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/banner/banner dvd.jpg");
    width: auto;
}

#figures {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/banner/banner figures.jpg");
}

#games {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/banner/banner games 2.jpg");
}

#accessories {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/banner/banner accessories.jpg");
}
