@charset "utf-8";
/* CSS Document */

body {
    background-image: linear-gradient(to right, #F7CAC9, #FA8072);
    position: relative;
    min-height: 100vh;
    /*Position relative and min height sets the page container. This helps keep the footer (child element)
    at 0 or the bottom based on absolute position.*/
    margin: 0;
}

/* NAVIGATION: */

.navigation {
    background-color: #131127;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.nav {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
}

.nav img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: left;
}

.navigation a:hover {
    color: #FF8C69;
}

.logo {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
}

.second_navigation {
    position: relative;
    background-color: #7918FE;
    height: 50px;
    overflow: hidden;
    z-index: 1;
}

#second_nav {
    text-align: center;
}

#second_nav li {
    display: inline;

}

#second_nav a {
    text-decoration: none;
    padding: 0 20px; /* variable width */
    color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
}

#curve {
    position: absolute;
    bottom: 380px;
}

/* NAVIGATION */

/*SLIDESHOW*/
.slideshow {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    padding: 10px;
    font-weight: bolder;
    font-size: 36px;
    color: white;
    outline-style: solid;
    background: #131127;
}

.next {
    right: 0;
}

/*SLIDESHOW*/

/* footer bottom */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /*padding-left: 25% ;*/
    background-image: linear-gradient(to right, #7918FE, #131127);
    /*background: #7918FE;*/
    height: auto;
}

footer :is(a, ul, h1){
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    font-family: Arial, serif;
    text-align: left;
}

.footer_container {
    text-align: center;
}

footer a:hover {
    color: salmon;
}

.social_media {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.help {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
}

.about_aniverse {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;

}
/* footer bottom */