@charset "utf-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #F7CAC9, #FA8072);
    background-color: white;
    /*Position relative and min height sets the page container. This helps keep the footer (child element)
    at 0 or the bottom based on absolute position.*/
}


h1, p {
    cursor: default;
}

/* NAVIGATION: */

.navigation {
    background-color: #131127;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.nav {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
}

.nav img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    float: left;
}

.navigation a:hover {
    color: #FF8C69;
}

.logo {
    display: inline-block;
    margin-left: 15px;
    margin-top: 10px;
}

.second_navigation {
    position: relative;
    background-color: #7918FE;
    height: 50px;
    overflow: hidden;
    z-index: 1;
}

#second_nav {
    padding-top: 15px;
    text-align: center;
}

#second_nav li {
    display: inline;
}

#second_nav a {
    text-decoration: none;
    padding: 0 20px; /* variable width */
    color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
}

#second_nav a:hover {
    color: salmon;
}

#curve {
    position: absolute;
    bottom: 380px;
}

/* NAVIGATION */

/* products */

.content {
    position: relative;
    max-width: 250px;
    margin: auto;
    font-family: arial;
    color: black;
    float: left;
    /* background-color: white; */
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    text-align: center;
}