@charset "utf-8";
/* CSS Document */

body {
    background-image: linear-gradient(to right, #F7CAC9 , #FA8072);
    /*background-image: linear-gradient(to right, #1F1C2C , #928DAB);*/
    /* background-image: linear-gradient(to left, #333333 , #dd1818);*/
    /* background-image: linear-gradient(to right, #23074d , #cc5333);*/
    /* background-image: linear-gradient(to right, #EB5757 , #000000);*/
    /* background-image: linear-gradient(to right, #1D4350 , #A43931);*/
    /*color: white;*/
    margin: 0;
}

/* NAVIGATION: */

.navigation {
    background-color: #131127;
    height: 50px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.nav {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: arial;
    font-weight: bold;
}

.navigation a:hover {
    color: #FF8C69;
}

.logo {
    display: block;
    margin-left: 15px;
    margin-top: 10px;
}

.second_navigation {
    position: relative;
    background-color: #7918FE;
    height: 50px;
    overflow: hidden;
    z-index: 1;
}

#second_nav {
    text-align:center;
}
#second_nav li {
    display:inline;

}
#second_nav a {
    text-decoration:none;
    padding:0 20px; /* variable width */
    color: white;
    font-size: 16px;
    font-family: arial;
    font-weight: bold;
}

#curve {
    position: absolute;
    bottom: 380px;
}
/* NAVIGATION */

/*SLIDESHOW*/
.slideshow {
    position: relative;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    font-weight: bold;
    font-size: 36px;
    color: white;
    outline-style: none;
}

.next {
    right: 0;

}
/*SLIDESHOW*/

/* footer bottom */
footer {
   position: fixed;
   bottom: 0;
   width: 100%;
   padding-bottom: 6px;
   text-align: center;
}

.facebook {
margin-right: 10px;
margin-left: 10px;
}

.instagram {
    margin-left: 5px;
}
/* footer bottom */