.section {
    border-radius: 12px 12px 0 0;
    background-color: #383273;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
/*this is to set all the styling of the main collapsable header*/

.active, .section:hover {
    background-color: #131127;
}
/*when the user hovers over the header, it changes colour*/

.information {
    color: white;
    font-family: Arial;
    border-radius: 0 0 12px 12px;
    padding: 8px 40px;
    display: none;
    background-color: #7918FE;
    margin-left: 25%;
    margin-right: 25%;
}
/*the information in the collapsible are styled here*/
/*the display is none so it does not show initially*/


h2 {
    font-family: Arial;
    color: #131127;
    padding-left: 25%;
    margin-bottom: -18px;
    padding-top: 30px;
    padding-bottom: 20px;
}
/*the header formatting is set here*/

/*the styling for the table is set*/
table {
    background-color:#131127 ;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-color: #7918FE;
    padding-top: 30px;
    font-family: arial;
    width: 30%;
}
/*the styling for the table is set*/

td, th {
    background-color: #131127;
    color: white;
    text-align: left;
    padding: 8px;
}

a {
    text-decoration: none;
    color: salmon;
}
/*the hyperlink styling is set*/
/*the styling for the table is set*/

