.section {
    border-radius: 12px 12px 0 0;
    background-color: #383273;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .section:hover {
    background-color: #131127;
}

.information {
    color: white;
    font-family: Arial;
    border-radius: 0 0 12px 12px;
    padding: 8px 40px;
    display: none;
    overflow: hidden;
    background-color: #7918FE;
    margin-left: 25%;
    margin-right: 25%;
}

h2 {
    font-family: Arial;
    color: #131127;
    padding-left: 25%;
    margin-bottom: -18px;
    padding-top: 30px;
    padding-bottom: 20px;
}

table {
    background-color:#131127 ;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-color: #7918FE;
    padding-top: 30px;
    font-family: arial;
    width: 30%;
}

td, th {
    background-color: #131127;
    color: white;
    text-align: left;
    padding: 8px;
}

a {
    text-decoration: none;
    color: salmon;
}


