.products_gallery {
    display: inline-block;
    flex-wrap: wrap;
    width: 100%;
    margin: 50px 0;
}

.content {
    margin-left: 20px;
    margin-top: 20px;
    width: 20%;
    height: 300px;
    background-color: #131127;
    border-radius: 12px;
}