/*ORANGE*/

.banner_salmon {
    font-family: Arial;
    padding: 60px;
    text-align: center;
    background: #FE8C68;
    color: white;
    font-size: 30px;
}

.banner_salmon h1 {
    font-size: 74px;
}

.banner_salmon p {
    font-size: 24px;
}

.wave_top_orange {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave_top_orange svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 52px;
}

.wave_top_orange .shape-fill {
    fill: #FE8C68;
}

.wave_bottom_orange {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave_bottom_orange svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 86px;
}

.wave_bottom_orange .shape-fill {
    fill: #FE8C68;
}

/*ORANGE*/

/*PURPLE*/

.banner_purple {
    font-family: Arial;
    padding: 60px;
    text-align: center;
    background: #FFDBFD;
    color: #C37ABF;
    font-size: 30px;
}

.banner_purple h1 {
    font-size: 74px;
}

.banner_purple p {
    font-size: 24px;
}

.wave_purple_top {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave_purple_top svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 50px;
}

.wave_purple_top .shape-fill {
    fill: #FFDBFD;
}

.wave_purple_bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave_purple_bottom svg {
    position: relative;
    display: block;
    width: calc(184% + 1.3px);
    height: 50px;
}

.wave_purple_bottom .shape-fill {
    fill: #FFDBFD;
}
/*PURPLE*/

/*red*/
.banner_red {
    font-family: Arial;
    padding: 60px;
    text-align: center;
    background: #E00404;
    color: white;
    font-size: 30px;
}

.banner_red h1 {
    font-size: 74px;
}

.banner_red p {
    font-size: 24px;
}

.wave_red_bottom {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave_red_bottom svg {
    position: relative;
    display: block;
    width: calc(300% + 1.3px);
    height: 59px;
}

.wave_red_bottom .shape-fill {
    fill: #E00404;
}

.wave_red_top {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave_red_top svg {
    position: relative;
    display: block;
    width: calc(105% + 1.3px);
    height: 59px;
}

.wave_red_top .shape-fill {
    fill: #E00404;
}
/*red*/